:root {
    --blanc: #ECF4F3;
    --bleu-clair: #76DBD1;
    --bleu: #57A99A;
    --noir: #555151;

    --blanc-shadow: rgba(236, 244, 243, 0.5);
    --bleu-clair-shadow: rgba(87, 169, 154, 0.5);
    --bleu-shadow: rgba(87, 169, 154, 0.5);
    --noir-shadow: rgba(85, 81, 81, 0.5);

    --blanc-darker: #cee3e0;
    --bleu-clair-darker: #5ed4c8;
    --bleu-darker: #45877b;
    --noir-darker: #413e3e;
}

.btn-outline-success {
    color: var(--bleu);
    border-color: var(--bleu);
}

.btn-outline-success:hover,
.btn-outline-success:not(:disabled):not(.disabled):active {
    background-color: var(--bleu);
    border-color: var(--bleu);
    box-shadow: 0 0 0 0.2rem var(--bleu-shadow);
}

.btn-outline-success.focus,
.btn-outline-success:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem var(--bleu-shadow);
}

.btn-primary {
    background-color: var(--bleu);
    border-color: var(--bleu);
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem var(--bleu-shadow);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: var(--bleu-darker);
    border-color: var(--bleu-darker);
}

.btn-primary:hover {
    background-color: var(--bleu-darker);
    border-color: var(--bleu-darker);
}

.dropdown-item:active {
    background-color: var(--bleu);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    width: 100%;
    right: 0;
    left: 0;
}

.row {
    margin: 0 !important;
}


/* Header home */

#homeDiapo img {
    width: 100%;
    height: 80vh;
}

#homeBadge,
#homeArticle {
    margin: 50px auto;
    padding: 50px auto;
    border-top: 3px solid var(--bleu-darker);
}

/* Badge home */

#homeBadge > div {
    text-align: center;
    margin-bottom: 25px;
}

#homeBadge > div h2 {
    padding: 0.5em;
}

#homeBadge .card {
    border: none;
}

#homeBadge .card-img-top {
    border-radius: 50%;
}

#homeBadge .card-body {
    border: 1px solid rgba(0, 0, 0, 0.25);
}




/* Article home */

#homeArticle > div {
    text-align: center;
    margin-bottom: 25px;
}

#homeArticle > div h2 {
    padding: 0.5em;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

#homeArticle .card {
    border: none;
}

#homeArticle .card-body {
    border: 1px solid rgba(0, 0, 0, 0.25);
}

#section-materiel
{
    margin-top: 5px;
    padding: 0.5em;
}

.materiel-grid
{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 50px 30px;
    width: 90vw;
}

.materiel
{
    height: fit-content;
    width: fit-content;
    max-width: 230px;
    margin-right: 25px;
    margin-bottom: 15px;
    position: relative;
    z-index: 999;
    transition: transform 0.7s ease;
}

.materiel figure img 
{
    max-height: 200px;
    max-width: 200px;
    transition: filter 0.7s ease;
}

.materiel:hover
{
    transform: scale(1.1);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border: solid 1px black;
}

.description
{
    display: block;
    transform: scale(0);
    white-space: normal;
}

.materiel:hover .description
{
    transform: scale(1);
}

.materiel:hover figcaption
{
    position: absolute;
    top: 0;
    margin: 0 auto;
    color: white;
    background-color: rgba(0,0,0,0.75);
    width: 100%;
}

.materiel figcaption
{
    top: 0;
}

.interligne-horaire
{
    line-height: 2;
}

/* Footer */

footer {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    min-height: 150px;
}

footer div {
    text-align: center;
}

footer div ul {
    padding: 0;
}

footer div ul li {
    text-decoration: none;
    list-style-type: none;
}

/*
    Espace membre
*/

.nav-tabs--vertical {
  border-bottom: none;
  border-right: 1px solid #ddd;
  display: flex;
  flex-flow: column nowrap;
}
.nav-tabs--left {
  margin: 0 15px;
}
.nav-tabs--left .nav-item + .nav-item {
  margin-top: .25rem;
}
.nav-tabs--left .nav-link {
  transition: border-color .125s ease-in;
  white-space: nowrap;
}
.nav-tabs--left .nav-link:hover {
  background-color: #f7f7f7;
  border-color: transparent;
}
.nav-tabs--left .nav-link.active {
  border-bottom-color: #ddd;
  border-right-color: #fff;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0;
  margin-right: -1px;
}
.nav-tabs--left .nav-link.active:hover {
  background-color: #fff;
  border-color: #0275d8 #fff #0275d8 #0275d8;
}
